.navItem{
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    background-color:#F7F7F7 ;
    
}
.navItem:hover{
    cursor: pointer;
    background-color:#3E6BEC ;
    transition: all 0.3s ease; 
}

.navItem:hover .img {
    filter: brightness(0) invert(1);
    transition: all 0.3s ease; 
}
