
.inputTextContainer{
    display: flex;
    flex-direction: column;
    height: 60px;
}

.labelInput{
    font-size: 10px;
    color: #9FA3B9;
    margin: 3% 0px;
    font-weight: 400;
    margin: 5px 20px;
}

.input{
    padding: 10px 10px;
    width: 200px;
    height: 60px;
    border-style: solid;
    border-color: #8F92A133;
    background-color: transparent;
    border-radius: 3px;
    margin: 5px 20px;
}

.input::placeholder{
    color: #9FA3B9;
}
.input:focus{
    border-style: solid;
    border-color: #8F92A133;
    outline: none;
    box-shadow: 2px 3px #e6e5e5 ;
    transition: all 0.3s ease;
    border-radius: 3px;
}